# Introduction to pandas

This notebook will introduce you to the [`pandas`](https://pandas.pydata.org/) data analysis library and demonstrate how to inspect, sort, filter, group and aggregate a data set.

The data for this exercise will be a CSV of [USA TODAY's opening-day MLB salaries](https://www.usatoday.com/sports/mlb/salaries/) from the 2023 season.

If you're completely new to Python or your syntax is rusty, it might be useful to [keep this notebook open in a new tab](Python%20syntax%20cheat%20sheet.ipynb) as a reference.

#### Ssession outline
- [Using Jupyter notebooks](#Using-Jupyter-notebooks)
- [Import pandas](#Import-pandas)
- [Load data into a data frame](#Load-data-into-a-data-frame)
- [Inspect the data](#Inspect-the-data)
- [Sort the data](#Sort-the-data)
- [Filter the data](#Filter-the-data)
- [Group and aggregate the data](#Group-and-aggregate-the-data)
- [Export to CSV](#Export-to-CSV)

### Using Jupyter notebooks

There are many ways to write and run Python code on your computer. One way -- the method we're using today -- is to use [Jupyter notebooks](https://jupyter.org/), which run in your browser and allow you to intersperse documentation with your code. They're handy for bundling your code with a human-readable explanation of what's happening at each step. Check out some examples from the [L.A. Times](https://github.com/datadesk/notebooks) and [BuzzFeed News](https://github.com/BuzzFeedNews/everything#data-and-analyses).

**To add a new cell to your notebook**: Click the + button in the menu.

**To run a cell of code**: Select the cell and click the "Run" button in the menu, or you can press Shift+Enter.

**One common gotcha**: The notebook doesn't "know" about code you've written until you've _run_ the cell containing it. For example, if you define a variable called `my_name` in one cell, and later, when you try to access that variable in another cell but get an error that says `NameError: name 'my_name' is not defined`, the most likely solution is to run (or re-run) the cell in which you defined `my_name`.

### Import pandas

Before you can use the functionality of `pandas`, a third-party library installed separately from Python, you need to _import_ it. The convention is to import the library under an alias that's easier to type: `as pd`.

Run this cell:

In [1]:
import pandas as pd

### Load data into a data frame

Before you can start poking at a data file, you need to load the data into a pandas _data frame_, which is sort of like a virtual spreadsheet with columns and rows.

You can load many different types of data files into a data frame, including CSVs (and other delimited text files), Excel files, JSON [and more](https://www.cbtnuggets.com/blog/2018/10/14-file-types-you-can-import-into-pandas/). ([Here's a notebook](https://github.com/ireapps/cfj-2018/blob/master/reference/Importing%20data%20into%20pandas.ipynb) demonstrating how to import some different data files, including live data from the Internet!)

For today, we'll focus on importing the unaccompanied child migrants data using a pandas method called [`read_csv()`](https://pandas.pydata.org/pandas-docs/stable/generated/pandas.read_csv.html). There are a ton of options you can supply when you read in the data file, but at minimum, you need to tell the method _where_ the file lives, which means you need to supply the path to the data file as a Python _string_ (some text enclosed in single or double quotes). The file is called `migrants_data.csv`, and it is located in the same directory as this notebook file, so we don't need to specify a longer path.

As we import the data, we'll also _assign_ the results of the loading operation to a new variable we have decided to call _df_ (short for data frame -- easy to type, plus you'll see this pattern a lot when Googling around for help).

👉 [Click here for more information on Python variables](Python%20syntax%20cheat%20sheet.ipynb#Variable-assignment).

In [2]:
df = pd.read_csv('migrants_data.csv')

/var/folders/hw/j8xh1n753q34cj9kckc9xc2c0000gp/T/ipykernel_16278/3439987157.py:1: DtypeWarning: Columns (5) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv('migrants_data.csv')

In [35]:
df = pd.read_csv('migrants_data.csv', dtype=str)

As a human sentence: "Go to the pandas library that we imported earlier as something called `pd` and use its `read_csv()` method to import a file called `migrants_data.csv` into a data frame -- and assign the results of that operation to a new variable called `df`."

### Inspect the data

Let's take a look at what we've got using a few built-in methods and attributes of a pandas data frame:
- `df.head()` will display the first five records (or, if you prefer, you can specify a number, e.g., `df.head(10)`)
- `df.tail()` will display the last five records (or, if you prefer, you can specify a number, e.g., `df.tail(10)`)
- `df.describe()` will compute summary stats on numeric columns
- `df.sample()` will return a randomly selected record (or, if you prefer, you specify a number, e.g., `df.sample(5)`
- `df.shape` will tell you how many columns, how many rows
- Using the Python function `len()` is another way to get a record count: `len(df)`
- `df.dtypes` will list the column names and tell you what kind of data is in each one

In [6]:
df.head()

,ID,Child's Country of Origin,Child's Gender,Child's Date of Entry,Child's Date of Release,Sponsor Zipcode,Sponsor Category,Relationship of Sponsor
0,1,Honduras,F,1/1/15,1/28/15,37863,1.0,Mother
1,2,Honduras,F,1/1/15,1/23/15,28212,1.0,Mother
2,3,Honduras,F,1/1/15,1/23/15,28212,2.0,Aunt
3,4,Honduras,M,1/2/15,1/30/15,27501,2.0,Brother
4,5,Honduras,M,1/1/15,2/13/15,78747,3.0,Other Cousin

In [5]:
df.describe()

                  ID  Sponsor Category
count  553322.000000     552666.000000
mean   276659.510289          1.697588
std    159730.429443          0.664395
min         1.000000          1.000000
25%    138329.250000          1.000000
50%    276659.500000          2.000000
75%    414989.750000          2.000000
max    553320.000000          3.000000

In [3]:
df.dtypes

ID                             int64
Child's Country of Origin     object
Child's Gender                object
Child's Date of Entry         object
Child's Date of Release       object
Sponsor Zipcode               object
Sponsor Category             float64
Relationship of Sponsor       object
dtype: object

When checking the dataframe's dtypes, we can see that most columns are of type `object` which is how pandas denotes string fields. We also have two number fields `ID` and `Sponsor Category`. While both of these columns contain numbers, they aren't really number columns, they are more like tags. You wouldn't ever want to add or multiply the `ID` field on any of the rows, and `Sponsor Category` is either 1, 2 or 3, depending on the sponsor's relationship to the child.

For this reason, it is better to consider these columns as strings. We can do that two ways. The first is to manually convert each column to a string and assign it overtop of the old column. We can do that like this:

In [7]:
df["ID"] = df["ID"].astype(str)
df["Sponsor Category"] = df["Sponsor Category"].astype(str)

Alternatively, we can specify each column's dtype when we import it. This is the preferred method because if the column is wrongly assigned from the start, it may be formatted in a way we don't want. For example, if a string field is parsed as a number, any leading zeros are dropped from the column. But if we import it as a string from the start we will keep those leading zeros. You do this by specifying a dtype argument to `read_csv()`. This argument can be a dictionary that's keys are column names and values are dtypes, or if every column is the same type you can just pass that type as the argument.

In [29]:
df = pd.read_csv('migrants_data.csv', dtype=str)

## Prepare the data

The data we have loaded is the raw data file released by the US Department of Human Health and Services so there are a few things we need to clean up before we can work with it.

Because we imported the csv with a dtype of string for each column, we need to set the appropriate type for each column now. In order to set a column's dtype, we will set each column individually on the dataframe by accessing it with `df["column_name"]`.

First, we'll set the two date columns to use datetime types.

In [36]:
df["Child's Date of Entry"] = pd.to_datetime(df["Child's Date of Entry"])

/var/folders/hw/j8xh1n753q34cj9kckc9xc2c0000gp/T/ipykernel_16278/1601276687.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Child's Date of Entry"] = pd.to_datetime(df["Child's Date of Entry"])

In [37]:
df["Child's Date of Release"] = pd.to_datetime(df["Child's Date of Release"])

/var/folders/hw/j8xh1n753q34cj9kckc9xc2c0000gp/T/ipykernel_16278/1395836540.py:1: UserWarning: Could not infer format, so each element will be parsed individually, falling back to `dateutil`. To ensure parsing is consistent and as-expected, please specify a format.
  df["Child's Date of Release"] = pd.to_datetime(df["Child's Date of Release"])

Next, we need to drop a couple duplicate rows that HHS left in the data. We can find all the rows with a duplicate ID by

In [ ]:
dupes = list(df[df.duplicated(subset="ID")]["ID"])
df[df["ID"].isin(dupes)]

So there are two duplicated rows. The only difference for each of them is the date of release. For our use case, we're just going to keep the first row of each since we aren't planning to do any analysis where one day's difference in the date of release will matter. We can deduplicate on the ID field and keep the first result for each ID with the following code. We will print the length of the df before and after the deduplication to confirm that the rows have been excluded.

In [ ]:
print(len(df))
df = df.drop_duplicates("ID")
print(len(df))

The last thing we're going to do, is fix the zipcodes. Some of these zipcodes have been improperly recorded by HHS - they contain one or more non-number characters. We can see all of these rows with the following line of code, which filters the dataframe to return only the rows with non-number characters in the zipcode field.

In [26]:
df[~df["Sponsor Zipcode"].str.isnumeric().astype(bool)]

,ID,Child's Country of Origin,Child's Gender,Child's Date of Entry,Child's Date of Release,Sponsor Zipcode,Sponsor Category,Relationship of Sponsor
2516,2516,El Salvador,M,2/21/15,3/2/15,-,1,Mother
4283,4282,Guatemala,M,3/19/15,5/6/15,Virgi,NaN,First Cousin
12756,12755,Guatemala,M,6/17/15,7/10/15,-,1,Father
13025,13024,Guatemala,F,6/19/15,7/2/15,-,1,Mother
14681,14680,Guatemala,F,7/5/15,12/21/15,-,1,Mother
...,...,...,...,...,...,...,...,...
392500,392499,Sierra Leone,F,12/25/21,5/12/22,M6P 1,1,Father
406994,406993,Guatemala,F,2/21/22,4/9/22,-,3,Other Distant Relative
407566,407565,Guatemala,M,2/23/22,3/3/22,-,1,Father
436473,436472,El Salvador,F,5/18/22,5/28/22,-,1,Mother
461638,461637,Guatemala,F,7/16/22,8/13/22,-,2,Adult First Cousin (Non-Primary Caregiver)

To see just the unique zipcodes

In [27]:
df[~df["Sponsor Zipcode"].str.isnumeric().astype(bool)]["Sponsor Zipcode"].unique()

array(['-', 'Virgi', '--', 'M4T2E', 'M9W6H', 'N6H4Y', 'M6N 3', 'L2E2S',
       'V4C1C', 'M6P 1'], dtype=object)

And we can see now, that all of these are not US zipcodes so we are safe to drop these 75 rows. We will do that by filtering the inverse of what we did above and assigning the resulting dataframe overtop of our old dataframe. I'll print the length of the dataframe before and after so we can confirm those 75 rows are gone.

In [38]:
before = len(df)
df = df[df["Sponsor Zipcode"].str.isnumeric().astype(bool)]
after = len(df)
print("before: " + str(before))
print("after: " + str(after))
print("diff: " + str(before - after))

before: 553322
after: 553247
diff: 75

The last thing we need to do is ensure that every zipcode is exactly 5 characters in length. Let's filter the dataframe to show all of the zipcodes that aren't exactly 5 characters long.

In [44]:
df[df["Sponsor Zipcode"].str.len() != 5]

,ID,Child's Country of Origin,Child's Gender,Child's Date of Entry,Child's Date of Release,Sponsor Zipcode,Sponsor Category,Relationship of Sponsor
23160,23159,Guatemala,M,2015-09-11,2015-10-01,6183,1,Father
24832,24831,Guatemala,M,2015-09-23,2015-10-11,3917,1,Mother
28431,28430,Honduras,F,2015-10-19,2015-11-18,9803,1,Father
35403,35402,Honduras,M,2015-11-30,2016-02-10,2136,NaN,Unknown
35813,35812,Guatemala,M,2015-12-02,2016-01-06,0000,2,Sister
44697,44696,Honduras,M,2016-02-01,2016-02-21,7580,1,Mother
46462,46461,El Salvador,M,2016-02-23,2016-03-11,7707,1,Father
67907,67906,Honduras,M,2016-07-20,2016-09-10,NaN,1,Mother
467816,467815,Guatemala,F,2022-08-03,2022-11-07,NaN,3,Unrelated Sponsor
471372,471371,United States of America,M,2022-08-15,2022-10-26,NaN,3,Unrelated Sponsor
480008,480007,Guatemala,M,2022-09-12,2022-10-02,NaN,2,Uncle (Non-Primary Caregiver)
481048,481047,Mexico,M,2022-09-15,2022-10-01,NaN,1,Mother
485748,485747,United States of America,M,2022-09-30,2022-11-04,NaN,2,Grandmother
487264,487263,Cuba,F,2022-10-05,2022-10-17,NaN,1,Mother
490095,490094,Cuba,M,2022-10-13,2022-10-22,NaN,1,Father
490694,490693,El Salvador,F,2022-10-15,2022-11-27,NaN,1,Mother
493152,493151,Honduras,F,2022-10-23,2022-11-02,NaN,1,Mother
505125,505124,Honduras,M,2022-11-27,2022-12-07,NaN,2,Grandmother
531023,531022,United States of America,M,2023-02-21,2023-04-11,NaN,2,Grandmother

Looking at these results, we can see there are basically 2 categories of non-conforming zipcodes. There are a handful where the zipcode is made of digits, but there are too few digits for a 5-digit zipcode. The rest of the rows have a value called `NaN` in the zipcode field. `NaN` stands for not-a-number, and in this case it's basically saying the zipcode field is null for these rows. Let's address these `NaN` rows first.

To fix these, we are just going to drop those rows from our dataframe by filtering out those values and assigning the result overtop of our df.

In [46]:
print(len(df))
df = df[~df["Sponsor Zipcode"].isna()]
print(len(df))

553247
553235

The other 7 rows will have to be addressed another way. These zipcodes are all one digit short of a full zipcode. What likely happened is when the HHS analyst exported the data to an excel sheet, any leading zeros in this field were dropped. We can add those zeros back in by using a method called `zfill` on the series.

In [47]:
df['Sponsor Zipcode'] = df['Sponsor Zipcode'].str.zfill(5)

/var/folders/hw/j8xh1n753q34cj9kckc9xc2c0000gp/T/ipykernel_16278/2292004272.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['Sponsor Zipcode'] = df['Sponsor Zipcode'].str.zfill(5)

And now, finally, we are done cleaning up the spreadsheet and can start on our analysis!

### Sort the data

To sort a data frame, use the `sort_values()` method. At a minimum, you need to tell it which column to sort on.

In [ ]:
df.sort_values("Child's Date of Entry")

To sort descending, you need to pass in another argument to the `sort_values()` method: `ascending=False`. Note that the boolean value is _not_ a string, so it's not contained in quotes, and only the initial letter is capitalized. (If you are supplying multiple arguments to a function or method, separate them with commas.)

👉 [Click here for more information on Python booleans](Python%20syntax%20cheat%20sheet.ipynb#Booleans).

In [ ]:
df.sort_values("Child's Date of Entry", ascending=False)

You can use a process called "method chaining" to perform multiple operations in one line. If, for instance, we wanted to sort the data frame by salary descending and inspect the first 5 records returned:

In [ ]:
df.sort_values("Child's Date of Entry", ascending=False).head()

You can sort by multiple columns by passing in a _list_ of column names rather than the name of a single column. A list is a collection of items enclosed within square brackets `[]`.

👉 [Click here for more information on Python lists](Python%20syntax%20cheat%20sheet.ipynb#Lists).

To sort first by `salary`, then by `team`:

In [ ]:
df.sort_values(["Child's Date of Entry", "Child's Country of Origin"]).head()

You can specify the sort order (descending vs. ascending) for each sort column by passing another list to the `ascending` keyword with `True` and `False` items corresponding to the position of the columns in the first list. 

For example, to sort by `salary` descending, then by `team` ascending:

In [ ]:
df.sort_values(["Child's Date of Entry", "Child's Country of Origin"], ascending=[False, True]).head()

The `False` goes with `salary` and the `True` with `team` because they're in the same position in their respective lists.

One other note: Despite all of this sorting we've been doing, the original `df` data frame is unchanged:

In [ ]:
df.head()

That's because we haven't "saved" the results of those sorts by assigning them to a new variable. Typically, if you want to preserve a sort (or any other kind of manipulation), you'd would assign the results to a new variable:

In [ ]:
sorted_by_origin = df.sort_values("Child's Country of Origin")

In [ ]:
sorted_by_origin.head()

### ✍️ Your turn

In the cells below, practice sorting the `df` data frame:
- By `Child's Country of Origin`
- By `Child's Date of Entry` descending
- By `Child's Country of Origin` descending, then by `Child's Date of Entry` ascending, and save the results to a new variable called `sorted_by_origin_entry`

### Filter the data

We've already touched on filtering when we were preparing our data, but let's go over two different kinds of filtering in more detail:

- Column filtering: Grabbing one or more columns of data to look at, like passing column names to a `SELECT` statement in SQL.
- Row filtering: Looking at a subset of your data that matches some criteria, like the crieria following a `WHERE` statement in SQL. (For instance, "Show me all records in my data frame where the value in the `team` column is "Arizona".)

#### Column filtering

To access the values in a single column of data, you can use "dot notation" as long as the column name doesn't have spaces or other special characters:

In [ ]:
df.ID

Otherwise, use "bracket notation" with the name of the column as a string.

In [ ]:
df['Relationship of Sponsor']

When you access a single column in your data frame, you're getting back something called a [`Series`](https://pandas.pydata.org/docs/reference/api/pandas.Series.html) object (as opposed to a `DataFrame` object).

One of the methods you can call on a Series is `unique()`, which shows you each unique value in the column. Let's do that with the `team` column:

In [ ]:
df["Child's Country of Origin"].unique()

What we just did is the equivalent of dragging the "team" column name into the "rows" area of a spreadsheet pivot table, or, in SQL,

```sql
SELECT DISTINCT COUNTRY
FROM migrants
```

You can also count up a total for each value using the `value_counts()` method:

In [ ]:
df["Child's Country of Origin"].value_counts()

For numeric columns, you can call methods on that Series to compute basic summary stats:
- `min()` to get the lowest value
- `max()` to get the greatest value
- `median()` to get the median
- `mean()` to get the average
- `mode()` to get the most common value

Our dataset doesn't have any numeric columns, but if we did use the above methods like so:

In [ ]:
# Find the minimum value
df["NUMERIC_COLUMN"].min()
# Find the maximum value
df["NUMERIC_COLUMN"].max()
# Find the median value
df["NUMERIC_COLUMN"].median()
# Find the average value
df["NUMERIC_COLUMN"].mean()
# Find the most common value
df["NUMERIC_COLUMN"].mode()

To select multiple columns in your data frame, use bracket notation but pass in a _list_ of column names instead of just one. To make things clearer, you could break this out into two steps:

In [ ]:
columns_we_care_about = ["Child's Date of Entry", "Child's Country of Origin"]
df[columns_we_care_about]

#### Row filtering

To make things maximally confusing, you _also_ use bracket notation for row filtering. Except in this case, instead of dropping the name of a column (or a list of column names) into the brackets, you hand it a _logical condition_ that resolves to `True` or `False`.

Let's filter our data to see children who entered the country since 2019:

(The equivalent SQL statement would be:
```sql
SELECT *
FROM migrants
WHERE DATE_ENTERED > 2019-01-01
```
)

In [ ]:
df[df["Child's Date of Entry"] >= pd.to_datetime("2019-01-01")]

For many filters, you'll use Python's comparison operators:
- `>` greater than
- `>=` greater than or equal to
- `<` less than
- `<=` less than or equal to
- `==` equal to
- `!=` not equal to

#### Multiple filter conditions

What if you want to use multiple filtering conditions? There is a way, but it usually makes more sense -- and is much easier for your colleagues and your future self to think about and debug -- to _save_ the results of each filtering operation by assigning the results to a new variable, then filter _the filtered data frame_ again instead of the original data frame.

For example, if you wanted to look at all of the kids who came from Guatemala since Jan 1, 2020, you might do something like:

In [ ]:
guatemala_kids = df[df["Child's Country of Origin"] == 'Guatemala']
recent_guatemala_kids = guatemala_kids[guatemala_kids["Child's Date of Entry"] >= pd.to_datetime("2020-01-01")]
recent_guatemala_kids

👉 [Check out some other filtering operations here]().

### ✍️ Your turn

In the cells below, practice filtering:
- Column filtering: Select the `Child's Country of Origin` column
- Column filtering: Select the `Child's Country of Origin` and `Child's Date of Entry` columns
- Row filtering: Filter the rows to return only migrants who came from Columbia
- Row filtering: Filter the rows to return only migrants who came from Brazil in 2022

### Group and aggregate the data

Data frames have a `groupby` method for grouping and aggregating data, similar to what you might do in a pivot table or a `GROUP BY` statement in SQL. (They also have a [`pivot_table` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.pivot_table.html), which can be homework for you to research.)

Let's say we wanted to see the top 10 countries from which the most migrant children have come to the US unaccompanied. In other words, we want to:
- Group the data by the `Child's Country of Origin` column: `groupby()`
- Add up the records in each group: `sum()`
- Sort the results by count descending: `sort_values()`
- Take only the top 10 results: `head(10)`

Calling the `groupby()` method without telling it what to do with the grouped records isn't super helpful:

In [ ]:
df.groupby("Child's Country of Origin")

At this point, it's basically telling us that it has successfully grouped the records -- now what? Using method chaining, describe what you would like to _do_ with the numeric columns once you've grouped the data. Let's start with `sum()`:

In [ ]:
df.groupby("Child's Country of Origin").count()

Ope! It's counting _every_ column.

To deal with this, use column filtering to select the two columns we're interested in -- `Child's Country of Origin` for grouping and `ID` for counting -- and _then_ tack on the `groupby` statement, etc.

(Remember: To select columns from a data frame, use bracket notation and hand it a _list_ of column names.)

In [ ]:
df[["Child's Country of Origin", "ID"]].groupby("Child's Country of Origin").count()

Bang bang. Now, using method chaining, let's sort by `salary` descending and look at just the top 10:

In [ ]:
df[["Child's Country of Origin", "ID"]].groupby("Child's Country of Origin").count().sort_values('ID', ascending=False).head(10)

You can use aggregation methods other than `sum()` -- `mean()` and `median()`, for instance -- or you can use [the `agg()` method](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.agg.html) to specify one or more aggregation methods to apply.

Additionally, we can group by multiple columns. The previous groupby showed us the total children from each country over the entire period, but let's take a look at it by year. The first thing we will need to do is create a new year column. Because we converted our `Date of Entry` column to a datetime, we can get the year from it easily. We'll create a new column called `year_entered` that is the year from the date of entry.

In [48]:
df["year_entered"] = df["Child's Date of Entry"].dt.year
df.head()

/var/folders/hw/j8xh1n753q34cj9kckc9xc2c0000gp/T/ipykernel_16278/1943504861.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df["year_entered"] = df["Child's Date of Entry"].dt.year

,ID,Child's Country of Origin,Child's Gender,Child's Date of Entry,Child's Date of Release,Sponsor Zipcode,Sponsor Category,Relationship of Sponsor,year_entered
0,1,Honduras,F,2015-01-01,2015-01-28,37863,1,Mother,2015
1,2,Honduras,F,2015-01-01,2015-01-23,28212,1,Mother,2015
2,3,Honduras,F,2015-01-01,2015-01-23,28212,2,Aunt,2015
3,4,Honduras,M,2015-01-02,2015-01-30,27501,2,Brother,2015
4,5,Honduras,M,2015-01-01,2015-02-13,78747,3,Other Cousin,2015

In order to group by multiple columns, we'll simply pass in an list of columns to `groupby()`.

In [56]:
origin_year = df.groupby(["Child's Country of Origin","year_entered"])["ID"].count().reset_index()
origin_year.sort_values(["year_entered", "Child's Country of Origin"], ascending=[True,True])

    Child's Country of Origin  year_entered   ID
4                     Albania          2015    2
13                     Angola          2015    1
21                  Argentina          2015    1
28                    Armenia          2015    1
36                 Azerbaijan          2015    1
..                        ...           ...  ...
455            United Kingdom          2023    2
464  United States of America          2023   33
472                Uzbekistan          2023   22
481                 Venezuela          2023  640
490                   Vietnam          2023    9

[492 rows x 3 columns]

In [57]:
origin_year[origin_year["Child's Country of Origin"] == "Guatemala"]

    Child's Country of Origin  year_entered     ID
209                 Guatemala          2015  18803
210                 Guatemala          2016  23677
211                 Guatemala          2017  14030
212                 Guatemala          2018  23786
213                 Guatemala          2019  25927
214                 Guatemala          2020   6732
215                 Guatemala          2021  69062
216                 Guatemala          2022  57130
217                 Guatemala          2023  15089

### ✍️ Your turn

In the cells below, practice grouping data:
- What is the total number of kids that came each year? Group the data by year, and then `count` the IDs.
- What is the year-by-year count of children coming from Guatemala? Group the data by origin and year, filter it to show only kids from Guatemala, and then sort it by `year_entered`.
- What else?

### Export to CSV

To export a dataframe to a delimited text file, use the [`to_csv()`](https://pandas.pydata.org/pandas-docs/stable/reference/api/pandas.DataFrame.to_csv.html) method. If you don't want to include the index numbers, specify `index=False`.

In [ ]:
df.to_csv('my-cool-data-frame.csv', index=False)